name: 01 - Building Blocks
on: 
  push:
    branches: main
  workflow_dispatch:
  
jobs:
  echo-hello:
    runs-on: ubuntu-latest
    steps:
      #- uses: actions/checkout@v3
      - name: Say hello
        run: echo "Hello, World!"

  echo-goodbye:
    runs-on: ubuntu-latest
    steps:
      #- uses: actions/checkout@v3
      - name: Failed step
        run: |
          echo "I will fail"
          exit 0

      - name: Say goodbye
        run: echo "Goodbye!"
      
 
